:root {
    --dk-color:#31573E;
    --mid-color:#FD6649;
    --lt-color:#ffe8e3;
    --dkest-color:#6B3D38;
    --accent:#31573E;
    --max-width:900px;
    --font-family: "Ubuntu", sans-serif;
    --font-weight: 400;
    --font-style: normal;
    --quick-color: #4D0099;
  }
body a {
    color:var(--accent);
    font-weight:bold;
}
h1, h3, h5 {
    color:var(--dk-color);
  }
h2, h4, h6 {
  color:var(--accent);
}
.section-box{
    border:2px inset var(--dkest-color);
    background-color:var(--lt-color);
    scrollbar-color: var(--mid-color) var(--lt-color);
    scrollbar-width: thin;
    overflow-y: auto;
  }
  .section-title {
    text-align:center;
    font-weight:bold;
    padding-top:5px;
    padding-bottom:5px;
    background-color:var(--mid-color);
    color:var(--dkest-color);
    font-size:16px;
    font-weight:bolder;
  }
  .content-box{
    background-color:var(--lt-color);
    scrollbar-color: var(--mid-color) var(--lt-color);
    scrollbar-width: thin;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }