---
import "../styles/global.css";
import NavLayout from "../layouts/NavLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
import FooterLayout from "../layouts/FooterLayout.astro";
import Twothreereviews from "../layouts/twothreereviews.astro";
---
<MainLayout name="body" title="2023 reads and watches" />
	<body>
		<div id="container">
			<div id="nav-box" class="section-box cont1">
				<NavLayout />
			</div>
			<div id="main-box" class="section-box cont2">
				<Twothreereviews />
				<div class="content-box">
					
				</div>
			</div>
			<FooterLayout credittxt="bg image from sadgrl.online" creditlink="https://sadgrl.online/webmastery/downloads/tiledbgs"/>
		</div>
	</body>
<style>
	body {
		background-image: url('/images/indexbg.jpg');
	}
	#container{
        margin-top: 4em;
		display: grid;
		justify-content: center;
		grid-template-areas: "nav" "main" "footer";
		grid-gap: 1rem;
		max-width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}
	.cont1{
        height: fit-content;
        padding-bottom: 2em;
		grid-area: nav;
	}
	.cont2{
		grid-area: main;
	}
	@media screen and (max-width: 740px) {
    	#container {
		margin-left: 0.5em;
		margin-right: 0.5em;
		display: grid;
		grid-template-areas: "nav" "main" "footer";
		grid-gap: 1rem;
		max-width: 100%;
	}
	}
</style>
