---
import "../styles/global.css";
import NavLayout from "../layouts/NavLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
import FooterLayout from "../layouts/FooterLayout.astro";
import Twothreereviews from "../layouts/twothreereviews.astro";
---
<MainLayout name="body" title="2023 reads and watches" />
	<body>
		<div id="container">
			<div id="nav-box" class="section-box cont1">
				<NavLayout />
			</div>
			<div id="main-box" class="section-box cont2">
				<Twothreereviews />
				<div class="content-box">
					
				</div>
			</div>
			<FooterLayout credittxt="bg image from sadgrl.online" creditlink="https://sadgrl.online/webmastery/downloads/tiledbgs"/>
		</div>
	</body>
<style>
	body {
		background-image: url('/images/indexbg.jpg');
	}
	#container{
        margin-top: 4em;
		margin: 3em;
	}
	.cont1{
        height: fit-content;
        padding-bottom: 2em;
	}
	.cont2{
	}
</style>
