---
import "../styles/global.css";
import NavLayout from "../layouts/NavLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
import FooterLayout from "../layouts/FooterLayout.astro";
import HeaderImg from "../components/HeaderImg.astro";
import Changelog from "../components/Changelog.astro";
---
<MainLayout name="body" title="shezza's zone" />
	<body>
		<HeaderImg></HeaderImg>
		<div id="container">
			<div id="nav-box" class="section-box cont1">
				<NavLayout />
			</div>
			<div id="main-box" class="section-box cont2">
				<div class="section-title">
					VIBE BASED ZONE
				</div>
				<div class="content-box">
					<p>
						I'm experimenting with <a href="https://astro.build/">Astro Build</a> at the moment so my site will be bare bones for a little...."construction zone dot gif" etc
						<br>
						I'm using this site to become more familiar with frontend development and as a space to write more! So far I've written about things I watch, read, or listen to, but I'd
						like to expand more from basic reviews to more fleshed out thoughts. HOPEFULLY I make good progress on both of these goals, but frontend dev is a lot of work and javascript
						is a bit daunting, but I will keep at it.
					</p>
				</div>
			</div>
			<div id="cwcr-box" class="section-box cont3">
				<div class="section-title">
					cw.cr ✿:
				</div>
				<div class="content-box">
					<ul>
						<li>🕮  Silver Spoon</li>
						<li>🕮  Monster</li>
						<li>📺 Fullmetal Alchemist: Brotherhood (rw)</li>
						<li>📺 Monster</li>
						<li>📺 Frieren: Beyond Journey's end</li>
						<li>📺 Dungeon Meshi</li>
						<li>📺 Yu Yu Hakusho</li>
						<li>📺 Lodge 49</li>
						<li>📺 Shogun</li>
					</ul>
				</div>
			</div>
			<div id="changelog-box" class="section-box cont4">
				<Changelog />
			</div>
			<FooterLayout credittxt="bg image from freepik" creditlink="https://www.freepik.com"/>
		</div>
	</body>
<style>
	body {
		background-image: url('/images/indexbg.jpg');
	}
	#container{
		display: grid;
		grid-template-areas: "nav main main" "nav cwcr changelog" ". . footer";
		justify-content: center;
		grid-gap: 0.5em;
		grid-template-columns: min-content min-content auto;
		max-width: 0.75fr;
	}
	.cont1{
		grid-area: nav;
		min-width: 180px;
	}
	.cont2{
		grid-area: main;
		max-width: 1100px;
	}
	.cont3{
		grid-area: cwcr;
		min-width: 360px;
	}
	.cont4{
		grid-area: changelog;
	}
	@media screen and (max-width: 740px) {
    	#container {
		margin-left: 0.5em;
		margin-right: 0.5em;
		display: grid;
		grid-template-areas: "nav" "main" "cwcr" "changelog" "footer";
		grid-gap: 0.5em;
	}
	.cont1, .cont2, .cont3, .cont4{
		max-width: revert;
	}
	}
</style>
