---
import "../styles/global.css";
import NavLayout from "../layouts/NavLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
import FooterLayout from "../layouts/FooterLayout.astro";
import HeaderImg from "../components/HeaderImg.astro";
import Changelog from "../components/Changelog.astro";
import { Icon } from 'astro-icon/components';
---
<MainLayout name="body" title="shezza's zone" />
	<body>
		<HeaderImg></HeaderImg>
		<div id="container">
			<nav id="nav-box" class="section-box cont1">
				<NavLayout />
			</nav>
			<div id="about-box" class="section-box cont5">
				<div class="section-title">
					about me
				</div>
				<div class="content-box txt">
					<p>
						<Icon name="icon-park-outline:config" /> in my 30s <br>
						<Icon name="icon-park-outline:people-left" /> she/her <br>
						<Icon name="icon-park-outline:code-one" /> goof around in css/html <br>
						<Icon name="icon-park-outline:code-one" /> hope to learn js <br>
						<Icon name="icon-park-outline:code-one" /> learning python as needed <br>
						<Icon name="icon-park-outline:baseball-bat" /> sports fan <br>
						<Icon name="icon-park-outline:thunderstorm" /> outdoor enjoyer <br>
						<Icon name="icon-park-outline:chip" /> terminally online <br>
					</p>
				</div>
			</div>
			<main id="main-box" class="section-box cont2">
				<div class="section-title">
					VIBE BASED ZONE
				</div>
				<div class="content-box">
					<p>
						I'm experimenting with <a href="https://astro.build/">Astro Build</a> at the moment so my site will be bare bones for a little...."construction zone dot gif" etc
						<br>
						<br>
						I'm using this site to become more familiar with frontend development and as a space to write more! So far I've written about things I watch, read, or listen to, but I'd
						like to expand more from basic reviews to more fleshed out thoughts. HOPEFULLY I make good progress on both of these goals, but frontend dev is a lot of work and javascript
						is a bit daunting, but I will keep at it.
					</p>
					<h3>
						Random X Files generator!
					</h3>
					<p>
						Sometimes I want to watch an X Files episode but I end up rewatching the same ones over and over, so I made a <a href="/randomtxfepisode">picker!</a>
						This is my first javascript project and I have some other ideas on how to expand it out, I hope y'all like it.
					</p>
				</div>
			</main>
			<div id="cwcr-box" class="section-box cont3">
				<div class="section-title">
					cw.cr ✿:
				</div>
				<div class="content-box">
					<ul>
						<li><Icon name="icon-park-outline:book-one" />  Silver Spoon</li>
						<li><Icon name="icon-park-outline:book-one" />  Monster</li>
						<li><Icon name="icon-park-outline:book-one" />  Ping Pong</li>
						<li><Icon name="icon-park-outline:tv-one" /> Fullmetal Alchemist: Brotherhood (rw)</li>
						<li><Icon name="icon-park-outline:tv-one" /> Monster</li>
						<li><Icon name="icon-park-outline:tv-one" /> Frieren: Beyond Journey's end</li>
						<li><Icon name="icon-park-outline:tv-one" /> Dungeon Meshi</li>
						<li><Icon name="icon-park-outline:tv-one" /> Yu Yu Hakusho</li>
						<li><Icon name="icon-park-outline:tv-one" /> Lodge 49</li>
						<li><Icon name="icon-park-outline:tv-one" /> Shogun</li>
					</ul>
				</div>
			</div>
			<div id="changelog-box" class="section-box cont4">
				<Changelog />
			</div>
			<FooterLayout credittxt="bg image from freepik" creditlink="https://www.freepik.com"/>
		</div>
	</body>
<style>
	body {
		background-image: url('/images/indexbg.jpg');
	}
	#container{
		grid-template-areas: "nav nav nav" "main main main" "about cwcr changelog" ". footer .";
		grid-template-columns: auto auto auto;
	}
	.cont1{
		grid-area: nav;
	}
	.cont2{
		grid-area: main;
	}
	.cont3{
		grid-area: cwcr;
	}
	.cont4{
		grid-area: changelog;

	}
	.cont5{
		grid-area: about;
	}
	.txt{
		font-size: 1em;
	}
	@media screen and (min-width: 740px) and (max-width: 1360px) {
    	#container {
			grid-template-areas: "nav nav" "main main" "about cwcr" "changelog changelog" ". footer";
			grid-template-columns: auto auto;
		}
	}
	@media screen and (max-width: 740px) {
    	#container {
			grid-template-areas: "nav" "main" "about" "cwcr" "changelog" "footer";
	}
	}
</style>
