---
import "../styles/global.css";
import NavLayout from "../layouts/NavLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
import FooterLayout from "../layouts/FooterLayout.astro";
import HeaderImg from "../components/HeaderImg.astro";
import Changelog from "../components/Changelog.astro";
---
<MainLayout name="body" title="shezza's zone" />
	<body>
		<HeaderImg></HeaderImg>
		<div id="container">
			<div id="nav-box" class="section-box cont1">
				<NavLayout />
			</div>
			<div id="main-box" class="section-box cont2">
				<div class="section-title">
					VIBE BASED ZONE
				</div>
				<div class="content-box">
					<p>
						I'm experimenting with <a href="https://astro.build/">Astro Build</a> at the moment so my site will be bare bones for a little...."construction zone dot gif" etc
					</p>
				</div>
			</div>
			<div id="cwcr-box" class="section-box cont3">
				<div class="section-title">
					cw.cr ✿:
				</div>
				<div class="content-box">
					<ul>
						<li>🕮  Basara</li>
						<li>🕮  Monster</li>
						<li>📺 Fullmetal Alchemist: Brotherhood (rw)</li>
						<li>📺 Monster</li>
						<li>📺 Frieren: Beyond Journey's end</li>
						<li>📺 Dungeon Meshi</li>
						<li>📺 Yu Yu Hakusho</li>
					</ul>
				</div>
			</div>
			<div id="changelog-box" class="section-box cont4">
				<Changelog />
			</div>
			<FooterLayout credittxt="bg image from freepik" creditlink="https://www.freepik.com/vectors/background"/>
		</div>
	</body>
<style>
	body {
		background-image: url('/images/indexbg.jpg');
	}
	#container{
		display: grid;
		grid-template-areas: "nav main main" "nav cwcr changelog" ". footer .";
		margin-left: 2rem;
		margin-right: 2rem;
		grid-gap: 0.5em;
	}
	.cont1{
		grid-area: nav;
	}
	.cont2{
		grid-area: main;
	}
	.cont3{
		grid-area: cwcr;
	}
	.cont4{
		grid-area: changelog;
		align-self: start;
	}
	@media screen and (max-width: 740px) {
    	#container {
		margin-left: 0.5em;
		margin-right: 0.5em;
		display: grid;
		grid-template-areas: "nav" "main" "cwcr" "changelog" "footer";
		grid-gap: 0.5em;
    	}
	}
</style>
