---
import '../styles/global.css';
import TXFGenLayout from "../layouts/TXFGenLayout.astro";
import FooterLayout from '../layouts/FooterLayout.astro';
import { Icon } from 'astro-icon/components';
---

<TXFGenLayout title="txf random episode generator" name="body" />
<body>
    <div id="container">
        <div id="nav-bar" class="nav-container">
            <a href="/"class="nav-btn">go to my homepage :)</a>
        </div>
        <main id="txf-ep-body" class="txf-container">
            <h1>
                The X Files random episode generator v1.1
            </h1>
            <p id="flavor-text">
                Let fate determine what episode you watch...🎱 <br>
                now has some filter options! <br>
                <i>no movies, just the 217 episodes</i>
            </p>
            <section id="episode-generator">
                <h2 class="ep-header">
                    Episode:
                </h2>
                <p id="total-count" class="count" aria-live="polite" role="status"></p>
                <div id="episode-returned" class="ep-text" aria-live="polite" role="status">
                </div>
                <div id="type-toggle-grp" class="checkbox-section">
                    <fieldset id="filter-fieldset">
                        <legend>Filter by episode type:</legend>
                        
                        <div>
                            <input type="radio" id="no-filter" name="episode-type" value="all episode types" aria-label="All" checked></input>
                            <label for="no-filter"><Icon class="svg-icon" name="icon-park-outline:tv" /></label>
                        </div>
                        
                        <div>
                            <input type="radio" id="mytharc" name="episode-type" aria-label="Mytharc episodes"></input>
                            <label for="mytharc"><Icon class="svg-icon" name="tabler:ufo" /></label>
                        </div>
                        
                        <div>
                            <input type="radio" id="motw" name="episode-type" aria-label="Monster of the week episodes"></input>
                            <label for="motw"><Icon class="svg-icon" name="ph:briefcase-fill"/></label>
                        </div>
                    </fieldset>
                </div>
                <div id="btn-container">
                    <button id="episode-button" class="ep-btn" type="button">
                        Get Episode
                    </button>
                </div>
            </section>
        </main>  
        <FooterLayout credittxt="bg image from sadgrl.online" creditlink="https://goblin-heart.net/sadgrl/webmastery/downloads/tiledbgs"/>
    </div> 
</body>
<script src="../utils/txfepisode_new.js"></script>
<style>
    body{
        background-image: url('/images/stars3.gif');
    }
    legend{
        text-align: center;
    }
    h1,h2{
        color:black;
    }
    button{
        justify-self: center;
        padding: 0.5rem;
        background-color: #0A800A;
        color: #f5f5f5;
        transition-duration: 0.4s;
    }
    button:hover{
        background-color: #f5f5f5;
        color: #0A800A;
    }
    input[type=radio]:checked + label {
        .svg-icon{
            color:#0A800A;
        }
    }
    label{
        cursor: pointer;
    }
    #container{
        place-items: end center;
        grid-template-areas: "nav" "main" "footer";
    }
    .txf-container{
        border: black solid;
        padding: 2rem;
        background-color: rgba(255, 255, 255, 0.85);
        margin-top: 4rem;
    }
    .nav-container{
        border: black solid;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: rgba(255, 255, 255, 0.85);
        margin-top: 2rem;
    }
    #nav-bar{
        grid-area: nav;
        justify-self: start;
        align-self: start;
        margin-top: 50px
    }
    .nav-btn{
        background-color: ;
        color: #31573e;
        border: 2px inset #31573e;
        background-color: #fd6649;
        filter: drop-shadow(7px 7px 0 var(--shadow-color));
        border-radius: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    #txf-ep-body{
        grid-area: main;
    }
    #episode-generator{
        display: grid;
        grid-template-areas: "header" "txt" "btn";
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        place-items: center;
    }
    #episode-returned{
        text-align: center;
    }
    .ep-header{
        grid-area: header;
    }
    .ep-text{
        grid-area: txt;
        padding-bottom: 1rem;
        min-height: 50px;
    }
    .ep-btn{
        grid-area: btn;
    }
    .svg-icon{
        font-size: 3rem;
        color: rgb(117, 102, 102);
        vertical-align: bottom;
        position: relative;
        margin-bottom: 2px;
        border-radius: 10px;
    }
    #filter-fieldset{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        column-gap: 10px;
    }
    #type-toggle-grp{
        margin-bottom: 15px;
    }
    .count{
        min-height: 20px;
    }
    @media screen and (max-width: 740px) {
        #episode-generator{
            width: 100%;
            margin-left: 0%;
            margin-right: 0%;
        }  
        #btn-container{
            align-items: center;
            display: flex;
            flex-direction: column;
            row-gap: 5px;
        }
    }
</style>