---
import "../styles/global.css";
import NavLayout from "../layouts/NavLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
import FooterLayout from "../layouts/FooterLayout.astro";
---
<MainLayout name="body" title="The X-Files 30th anniversary promp" />
	<body>
		<div id="container">
			<div id="nav-box" class="section-box cont1">
				<NavLayout />
			</div>
			<main id="main-box" class="section-box cont2">
				<div class="section-title">
                    the x files 30th anniversary week prompts
                    </div>
                    <div class="content-box">
                        <h2 id="txf-header">The X Files 30th anniversary</h2>
                        <div id="prompt-list">prompt from <a href="https://www.tumblr.com/dailytxf/724493403228979200/scully-you-are-not-gonna-believe-this-2023-marks">dailytxf on tumblr</a><br>
                        </div>
                        <h3 id="day-01">Day 01: Favorite Episode
                        </h3>
                        <p>
                        "Clyde Bruckman's Final Repose" is less of a favorite episode and more of a close personal friend. I rewatch this episode when I'm feeling down and need its familiar rthymns or to commemorate important milestones like moving to a new place or a birthday. Clyde Bruckman is a lonely life insurance salesman with the gift to see how people are gonna die, a gift he views as an affliction that traps him in a paradox: how can he see the future if it didn't already exist? "Clyde" has Darin Morgan's signature depressed melancholy vibe, but it also has a lot more heart than some of his other scripts. Bruckman is a miserable old man, but as we see more of his ability we start to feel sympathetic towards this man who sees the last moments of someone's life every time he meets them, who lives a life completely consumed by death from both his visions and his job in life insurance. The scene where Bruckman tells his vision of his own death to Scully, which without the scene later is taken as a failed pickup line, of their shared tender moment as she finds his dead body is the big heartbeat of this episode. Usually Mulder is the one who gets to have the heart to heart with the victim of the episode, but skeptic Scully develops a fondness for Clyde's dry wit and views his lonely life with sympathy.
                        <br>
                        <br>
                        "Clyde" is an episode of a show on the rise as The X Files begins to develop its unique tone in season 3. This kind of episode is the show at its best and it has such a comforting early txf vibe that makes it so rewatchable and my favorite. It's witty, it's sad, it's a story that's completely unique to tv as a whole and to The X Files's post-modern flair to explore pre-determinsism and fate through a paranormal genre. 
                        </p>
                        <h3 id="day-02">Day 02: Favorite season
                        </h3>
                        <p>
                           Season 3 of The X Files is my ride or die! The third season features some of the best monster of the week and mytharc episodes of the show, has consistently solid episodes throughout, and gets to show off the kind of writing and direction that made it stand out in the tv landscape of the 90s. Everyone is always eager to badmouth the mytharc since they were winging it the entire time and turned it into a confusing mess, but this season's mytharc is incredible storytelling and some of its strongest work. "The Blessing Way" and "Paper Clip" increase the stakes for the search for the truth for both Mulder and Scully and we start to see the scope of the project within the abandoned West Virginia mine. This season explores the dark legacy of Imperial Japan and our government's experiments done on unsuspecting people by using alien abduction stories as a proxy in "Nisei" and "731", one of my favorite two-parters of the show. And of course this season introduces the iconic black oil in "Piper Maru" and "Apocrypha"! These mytharc episodes felt sharp and focused and really worked to explore the fact that in some cases, the US government has used unjustifiable means to accomplish its goals and tries to confront this ugly truth. If we wonder why conspiracy theories thrive, we only have to look at incidences like Tuskeegee experiments or Operation Paper Clip that have worked to erode public trust to understand a certain extent of the conspiratorial mindset.
                           <br>
                           <br>
                           And if having smart and exciting mytharc epsiodes aren't enough, the monster of the weeks in season 3 are fantastic as well. It has some all timers in "Clyde Bruckman's Final Repose", "Pusher", and "Jose Chung's From Outer Space" which are all standouts of the show as a whole, but also really solid episodes that deserve love like "DPO", "Oubliette", "War of the Coprophages", "Quagmire", and "Wetwired". Even "Teso Dos Bichos" is unfairly maligned because the cast and crew hated it so much while filming, but which has some interesting ideas that just don't nail the landing.
                        </p>
                        <h3 id="day-03">Day 03: Favorite character</h3>
                           <p>
                              Fox Mulder your single minded obsession and purposely annoying personality has bewitched me. Ok look.....I am a Mulder apologist. Some of y'all simply do not understand him and that's why you hate him. He's so focused on finding the truth about aliens and our government's involvement in it that it's blinding to him, he's a sad lonely boy who lost his sister, he's so used to people mocking him and disrespecting him that he brings an adversarial relationship to almost all coworker interactions, he's so disconnected from personal connection and intimacy that his outlet for it is porn, and I love all of it. Mulder can certainly be prickly, but that defensive posture and cutting wit is saved for those in power who blind themselves to the extreme possibilities and who serve as useful fools to the syndicate that works to have complete control of everyone's lives and the future of our species.
                              <br>
                              <br>
                              The Mulder people seem to want, one that is rational and levelheaded, the one who doesn't just jump onto a moving train at the chance to find proof of alien life and who defers to Scully's more traditional theories is a character on a worse show. His stubbornness and drive (to the death sometimes) are core to his character and it's unfathomable to imagine him without it. There's something so comforting about knowing there's this character within the X Files universe working hard to make those who seek to control us as miserable as possible, to demand justice no matter how many times he gets stopped or misled, someone who will always be an eager ear when something beyond believability happens to us. Mulder always seeks to be in the corner of the underdog, the maligned, to defend them however he can and if he happens to ditch Scully to do that or yell at some nurses (sorry, nurses) then that's a price to pay.
                           </p>
                        <h3 id="day-04">Day 04: Favorite dynamic</h3>
                           <p>
                              I'm avoiding Mulder and Scully here to show some love for Scully and the Lone Gunmen. I love the evolution of the Lone Gunmen and Scully's friendship from her cute partner's crank friends she immediately starts arguing with to them being some of her most trusted allies. Mulder and TLG are friends due to shared interests and a certain level of professional quid pro quo, but Scully is friends with these loveable losers via Mulder. She views them as silly and ludicrous, but by the time season 8 rolls around, they're William's funcles. They become friends independent of Mulder as she goes to them for information and help when Diana re-enters the picture, clearly awkward being caught in the middle but also kinda on her side (to ME!). They're so supportive of Scully when Mulder was gone and she really needed all the love she could get :(. Honestly, their friendship reminds me of those videos of dads with "the pet they didn't want" where the dad is doting on the creature when no one else is watching.
                           </p>
                        <h3 id="day-05">Day 05: Favorite arc</h3>
                           <p>
                              I wanna start with my very close second place of "Duane Barry", "Ascension", and "One Breath", for being a real stroke of luck and a big moment for the show as Scully's abduction provided the jumping off point for future mytharc episodes. It was incredibly moving and heartbreaking seeing Scully go through this traumatic experience and it sets up the quest against the shadowy forces that abducted her as a personal journey that drives Mulder and Scully closer than ever. Season 1 is good, but outside some flashes, it feels like standard network tv fair. Season 2 develops, but the storytelling and cinematic leap the show takes with the season 2 finale "Anasazi" and the season 3 openers "The Blessing Way" and "Paper Clip" is mesmerizing.
                              <br>
                              <br>
                              The best mytharc episodes capture this mythic driven storytelling that, when done well, melds soap style drama to a critique of American mythmaking, where aliens stand in as this monstrous pursuit of progress without factoring in the cost. The very myth of the founding of the United States is told while minimizing the legacy of the Indigenous people and downplaying the genocide against them by the government. Mulder and Scully get help from a WWII Navajo codetalker to decode the stolen Majestic 12 files and while the inclusion of Native characters here isn't perfect as Albert isn't given much depth outside him helping Mulder, his invaluable help to Mulder and Scully says that marginalized communities like Indigenous people are on the side of justice as they seek to hold the unaccountable, accountable. This three parter tries to confront the hidden story of the United States, but also Mulder's personal connection of his father's involvement in the syndicate. It's full of big moments with Mulder getting firebombed by his father's friend, Scully getting pulled over by a helicopter, Mulder's father and Scully's sister dying, showing hints of what happened to Scully during her abduction. Bill Mulder tries to tell his son about his regrets while working on the project and how Mulder has always been his own man, it's the most vulernable we've ever seen Bill and he gets killed for it. There's a deadly cost to going against this project and Mulder and Scully have faced their share of loss due to their cause, but this only makes them more sure of what they're doing in this moment.
                              <br>
                              <br>
                              This is high stakes storytelling that is done so well with big action and adventure, all happening on your small 90s CRT monitor. Whatever happens later with the mythology story line, I will always remember how strong it was in this three parter. I would say that I fell in love with the show pretty early on, but this is when I knew I was watching greatness and so it will always be special to me. It feels revolutionary, even today, to see a mainstream show offer a clear critique of American Empire and the atrocities commited. And these aren't moments done long ago, Mulder's own father worked with the Nazi scientists America brought over after the war! This is the sins of his father, its the personal legacy he's forever entwined in and he faces this by becoming more driven to expose it, expose his father's work and awful legacy.
                           </p>
                        <h3 id="day-06">Day 06: Favorite monster of the week</h3>
                           <p>
                              Gonna break convention here and talk about one of my favorite types of motw episodes: when the real unexplained phenomena is the nature that is always lurking somewhere out there. These episodes frequently offered a cautionary tale about meddling beyond our understanding and into realms we didn't belong. It was sharp criticism that has only strengthened with age. Even someone skeptical of the liver monsters, evil bug bosses, and mad spirits can feel the fear embedded in our DNA of a nature that just wants us dead. These episodes always have great Mulder and Scully moments as they work together to face this terror and manage to survive. Ok and look....I do love seeing Mulder and Scully in civilian clothes, those two can rock an LL Bean catalogue!
                              <br>
                              <br>
                              "Ice" and "Darkness Falls" have the foolish humans venturing too far past their safe bubble and encountering dangerous creatures that pre-date us, "Quagmire" is about our destruction of once thriving ecosystems with mismanagement and recklessness, "Detour" is all about Mulder and Scully kicking ass and flirting their way through a mothmen encounter, and "Field Trip" features mushrooms and meta commentary about the Mulder and Scully dynamic. This is a type of episode that was a staple for the show, one that had a good track record and they're some of my all time favorites.
                           </p>
                        <h3 id="day-07">Day 07: 30th anniversary extravaganza</h3>
                           <p>
                              I'm using this as a wild card prompt, so I am gonna talk about the parallels of Mulder and Scully with Roy Mustang and Riza Hawkeye from the anime Fullmetal Alchemist: Brotherhood. I like describing FMAB as "anime X Files" because they both have a major plot arc that centers on a conspiracy by a powerful group influencing the fascistic government to achieve a goal despite the cost to life, but they diverge in how successful the resistance is to this agenda. Anime tends to be more hopeful, so those fighting the shadowy force in FMAB are much more successful than Mulder and Scully. If you enjoy The X Files mytharc, I definitely think you'd like FMAB. As far as anime goes, FMAB is a good starter anime because it has less "anime bullshit" as it's commonly referred. There's a lot of visual gags and some joke overuse that can be a bad habit of animes, but it has minimal fan service and the women are really well written mostly because the manga author, Hiromu Arakawa, is a woman.
                              <br>
                              <br>
                              But the biggest comparison I make between the two shows is the relationship between Mulder and Scully in The X Files to Roy Mustang and Riza Hawkeye in FMAB. Mustang and Hawkeye are officers in the military and work in the shadows against those in power who have bad things in mind for the country. Because of their respective missions, both duos have strong relationships built on trust and this trust is an important thematic element in the show. Mulder tells Scully she "keeps him honest" and we see how their differing approaches to the X files becomes something that makes each other better, while Mustang tells Hawkeye that if he ever deviates from his path to fix the country, she should kill him which is very hardcore, but also shows how deeply they trust one another. Mustang and Mulder are both so dedicated to a mission that they know can blind them to their shortcomings or make them go too far, and they need someone even-keeled to help them towards their goals. This trust and closeness, the sort of partnership where words are barely needed is one of my favorite character dynamics and both duos are great examples of it. I haven't even mentioned the ANGST! Mustang is Hawkeye's superior so they're cursed to keep each other at a distance, so much of their closeness must be kept guarded from everyone else. 
                           </p>
                           
                    </div>
			</main>
			<FooterLayout credittxt="bg image from sadgrl.online" creditlink="https://goblin-heart.net/sadgrl/webmastery/downloads/tiledbgs"/>
		</div>
	</body>
<style>
	body {
		background-image: url('/images/stars3.gif');
	}
	#container{
		margin-top: 4rem;
		justify-content: center;
		grid-template-areas: "nav" "main" "footer";
	}
	.cont1{
        height: fit-content;
        padding-bottom: 2em;
		grid-area: nav;
	}
	.cont2{
		grid-area: main;
	}
	@media screen and (max-width: 740px) {
    	#container {
		grid-template-areas: "nav" "main" "footer";
	}
	}
</style>
