---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="txf random episode generator" name="body" />
<body>
    <h1>
        The X Files random episode generator
    </h1>
    <div>
        <button id="episode-button">
            click me
        </button>
    </div>
</body>

<script src="../utils/txfepisode.js">
</script>