<div class="section-title">
    changelog
</div>
<div class="content-box">
    <p>
        <b>01/28/25:</b> Finally finished up my remaining 2024 reviews! going to hopefully redesign my review page for 2025, so look forward to that<br>
        <b>11/20/24:</b> omg, finally caught up on reviews! October was busy but thankfully November will be light<br>
        <b>11/06/24:</b> behind on reviews! added a few and will add the rest later :)<br>
        <b>09/28/24:</b> my monthly update for the reads and watch page, now featuring a video game<br>
        <b>08/31/24:</b> Read a bunch of manga and reviewed it<br>
        <b>07/17/24:</b> Was very behind on reviews but now I am caught up!<br>
        <b>07/06/24:</b> Made some big changes to the txf episode machine! Now includes filtering by type like mytharc and motw. 👽<br>
        <b>06/04/24:</b> Added reviews for the Haikyu movie and Silver Spoon, fell to peer pressure and fixed my js variables to be camel case<br>
        <b>05/04/24:</b> Made some layout tweaks to the 2024 review page (more to do there!) and I FORGOT to add my txf 30th anniversary stuff in my redesign so added it<br>
        <b>04/21/24:</b> some more blurbs for Ping Pong, Promare, and Lost Lad London :)<br>
        <b>04/14/24:</b> wrote a lil something about Frieren and Lodge 49 (two of my fave watches this year!)<br>
        <b>04/04/24:</b> added some reviews (Basara, Girls5eva) for 2024!<br>
        <b>03/31/24:</b> working to clean up code and make this a proper blogging space! Made an X Files random episode generator<br>
        <b>10/11/23:</b> adding some more stuff to my 2023 watches list<br>
        <b>09/04/23:</b> added a page for the x files 30th anniversary prompts 👽<br>
        <b>08/27/23:</b> EVEN MORE 2023 list updates!<br>
        <b>08/01/23:</b> caught up on my 2023 list<br>
        <b>05/28/23:</b> added a couple of shows to my 2023 list!<br>
        <b>04/29/23:</b> added the diplomat to my 2023 list plus some tweaks to the 2023 list look 😎<br>
        <b>04/08/23:</b> added bungo stray dogs to my 2023 list + misc stuff<br>
        <b>03/28/23:</b> tweaking the layout! :) making some progress but this is just my current rough draft 👍
    </p>
</div>