<div id="header">
    <img src='images/blog-header.png' alt='header image of Fox Mulder that says "Shezzas web revival blog"'>
</div>
<div id="mobile-header">
    <img src='images/mobile-blog-header.png' alt='mobile friendly header image of Fox Mulder that says "Shezzas web revival blog"'>
</div>
<style>
    #header{
        margin-bottom: 1em;
        display: flex;
        justify-content: center;
        height: auto;
        filter: drop-shadow(7px 7px 0 #d383ccc4);
    }
    #mobile-header{
        display: none;
    }
    @media screen and (max-width: 850px) {
    	#header {
    	    display: none;
    	}
        #mobile-header{
            margin-bottom: 1em;
            display: flex;
            justify-content: center;
            height: auto;
            filter: drop-shadow(7px 7px 0 #d383ccc4);
        }
	}
</style>