<div id="header">
    <img src='images/blog-header.png' alt='Blog header that says "Shezzas web revival blog"'>
</div> 
<style>
    #header{
        height: 300px;
        display: block;
        margin-bottom: 1em;
        display: flex;
        justify-content: center;
    }
</style>