---
const {review} = Astro.props;
const reviewmd = review.compiledContent();
---


<article id={review.frontmatter.shortened} class="section-box cont1">
    <div class="section-title">
        {review.frontmatter.title}
    </div>
    <div class="content-box"> 
        <Fragment set:html={reviewmd} />
    </div>
</article>