---
const { creditlink } = Astro.props;
const { credittxt } = Astro.props;
---
<footer class="footer">
    <p>
        est oct 2021
        <br>
        last updated 2024
        <br>
        <a href={creditlink}>
            {credittxt}
        </a>
    </p>
</footer>

<style>
    .footer{
        background-color: white;
        padding: 0.5rem;
        grid-area: footer;
        justify-self: center;
        max-width: fit-content;
        border: 2px solid black;
        border-radius: 12px;
    }
    @media screen and (max-width: 740px) {
        .footer{
		justify-self: center;
	    }
    }
</style>