---
import "../styles/global.css";
---

<div class="section-title">
    ahoy, sailor. where to?
</div>
<div class="content-box">
    <div id="nav-main" class="navunit">
        <a href="/index"><i>home</i></a><br>
    </div>
    <div id="nav-2023" class="navunit">
        <a href="/2023"><i>2023 watches</i></a><br>
    </div>
    <div id="nav-2024" class="navunit">
        <a href="/2024"><i>2024 watches</i></a><br>
    </div>
    <div id="nav-txf" class="navunit">
        <a href="/txf30th"><i>the x files 30th anniversary prompts</i></a><br>
    </div>
    <div id="nav-txf-generator" class="navunit">
        <a href="/randomtxfepisode"><i>the x files episode generator</i></a><br>
    </div>
</div>
<style>
.navunit{
  padding-top: 10px;
}
.content-box{
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-template-rows: repeat(5, fit-content);
    grid-gap: 1rem;
}
</style>