<div class="section-title">
   reads and watches of 2023
</div>
<div class="content-box">
   <h1 id="quick-nav" style="margin-bottom: 5px; font-size: 1.10em;padding-left: 40px;">quick nav</h1>
   <a href="#the-leftovers" style="color:var(--quick-color);font-size:0.9em;padding-left: 40px;">The Leftovers</a><br>
   <a href="#qq-sweeper" style="color:var(--quick-color);font-size:0.9em;padding-left: 40px;">QQ Sweeper</a><br>
   <a href="#bungo-stray-dogs" style="color:var(--quick-color);font-size:0.9em;padding-left: 40px;">Bungo Stray Dogs</a><br>
   <a href="#the-diplomat" style="color:var(--quick-color);font-size:0.9em;padding-left: 40px;">The Diplomat</a><br>
   <a href="#station-eleven" style="color:var(--quick-color);font-size:0.9em;padding-left: 40px;">Station Eleven</a><br>
   <a href="#20th-century-boys" style="color:var(--quick-color);font-size:0.9em;padding-left: 40px;">20th Century Boys</a><br>
   <a href="#the-lone-gunmen" style="color:var(--quick-color);font-size:0.9em;padding-left: 40px;">The Lone Gunmen</a><br>
   <a href="#barry" style="color:var(--quick-color);font-size:0.9em;padding-left: 40px;">Barry</a><br>
   <a href="#mars" style="color:var(--quick-color);font-size:0.9em;padding-left: 40px;">Mars</a><br>
   <a href="#time-war" style="color:var(--quick-color);font-size:0.9em;padding-left: 40px;">This is How You Lose the Time War</a><br>
   <a href="#weathervanes" style="color:var(--quick-color);font-size:0.9em;padding-left: 40px;">Weathervanes</a><br>
   <a href="#the-great" style="color:var(--quick-color);font-size:0.9em;padding-left: 40px;">The Great</a><br>
   <a href="#sharp-objects" style="color:var(--quick-color);font-size:0.9em;padding-left: 40px;">Sharp Objects</a><br>
   <a href="#will-they" style="color:var(--quick-color);font-size:0.9em;padding-left: 40px;">Will They or Won't They</a><br>
   <a href="#pluto" style="color:var(--quick-color);font-size:0.9em;padding-left: 40px;">Pluto</a><br>
   <a href="#enlightened" style="color:var(--quick-color);font-size:0.9em;padding-left: 40px;">Enlightened</a><br>

      <h2 id="the-leftovers" class="hr-icon"><i class="fa-solid fa-tv fa-2xs" style="color:black;" title="tv"></i> The Leftovers</h2>
         <p>HBO and I have a pretty spotty track record, we can't seem to get on the same page when it comes to their dramas, but at a certain point I can't ignore a highly praised HBO drama for another 10 years. So I sat my ass down and listened and...it was good, but if I'm gonna be honest I still don't get the hype. 
         S2 in particular felt highly unfocused and too bogged down in religious symbology to make much of any point. S3 was a complete treat though, and the ending was satisfying to me.</p>
      <ul>Misc notes:
         <li>Loved Kevin, Nora, and Matt</li>
         <li>Matt's religious compulsions and obsessions were really fascinating to me, I loved Matt eps</li>
         <li>the pentultimate S3 episode reminded me a lot of The Prisoner finale, so big kudos from me for that</li>
      </ul>
      <h2 id="qq-sweeper" class="hr-icon"><i class="fa-solid fa-book fa-2xs" style="color:red;" title="book"></i> QQ Sweeper</h2>
         <p>This is the first shojo manga I've read. Shojo is a genre I haven't explored much and I'd like to check out more to balance out all the shonen I've consumed, lol. I liked QQ Sweeper, it has an interesting world where people can become infested and it can cause them great emotional stress and certain people have to ability to exterminate the infestation.
         The romance elements weren't too intriguing to me and none of the characters pushed past the standard tropes to draw me in. I'm on the fence on whether I'll continue with the sequel Queen's Quality. 
         </p>
      <h2 id="bungo-stray-dogs" class="hr-icon"><i class="fa-solid fa-tv fa-2xs" style="color:black;" title="tv"></i> Bungo Stray Dogs</h2>
         <p>I watched part of this in 2022, but I caught up to the recently aired season recently. I liked this show, but it was pretty uneven in quality. The power system is nothing remarkable, but the main characters are fun and it always nails the season endings with all the anime bullshit a woman could crave! I would definitely recommend the show because the highs are worth it. 
            One thing I value when it comes to foreign media (with anime being the one I consume the most) is that it lets me see facets of western culture from a lens unfamiliar to me. Does that mean that I enjoyed the Guild all being authors from western "canon"? No, but that's fun in its own way. It just seemed silly to me, but I'm not sure how many Japanese people had to struggle through The Scarlett Letter so maybe it hit different for them.
         </p>
         <ul>Misc notes:
            <li>fave characters were kunikida, dazai ofc &lt;3, and RAMPO</li>
            <li>the beginning arc in s3 with the president and Rampo's meeting was perfect! It was a great way to setup the emotional weight of s3 (even if I thought it was the weakest) and provided a great story to Rampo's ability</li>
            <li>it happened again (latched onto a pairing I liked and found out the more common one shows up later)</li>
         </ul>
      <h2 id="the-diplomat" class="hr-icon"><i class="fa-solid fa-tv fa-2xs" style="color:black;" title="tv"></i> The Diplomat</h2>
         <p>The show's creator, Debora Cahn, has previously worked on Homeland and The West Wing, but you didn't need me to tell you that for you to just Know the lineage of this show. Part political thriller and part personal drama, the show does a good job blending the political stakes and the marriage fallout of the current diplomat Kate Wyler with the former diplomat Hal Wyler.
            The problem becomes that the political stakes offered are the pretty standard American viewpoint with nothing much to say about American-centric POV outside a few moments related to the American withdrawal from Afghanistan and the fallout. I was prepared for that to be the case so that is not a crucial plot for the show to nail for me to enjoy it, not every show can be The Americans.
            What the show needed to land (and does!) is the failmarriage at the center of it all. One of my all time favorite albums is the Mountain Goats' CLASSIC <i>Tallahassee</i> which revolves around an alcoholic couple called the Alpha couple who steadfastly refuse to let go of their crumbling marriage and features lyrics like
            <br>
            <br>
            <span style="text-align:center;display: block;"><i>I hope the fences we mended<br>
                  Fall down beneath their own weight<br>
                  And I hope we hang on past the last exit<br>
                  I hope it's already too late</i><br>
            <br>
            and
            <br>
            <br>
            <i>Our conversations are like minefields<br>
            No one's found a safe way through one yet</i><br>
            <br>
            and
            <br>
            <br>
            <i>The stage is set:<br>
            Someone's gonna do something someone else will regret<br>
            I speak in smoke signals and you answer in code<br>
            The fuse will have to run out sometime</i><br></span>
            <br>
            all of which are so Kate and Hal coded it's not even funny. So I was primed to love this show and I did! The political plots offer enough color to the marraige to add depth and stakes, but doesn't bog it down enough to make it drag. Rufus Sewell and Keri Russell (Emmy winner in my heart) are fantastic together and bring the perfect energy for this tumultuous power couple.
         </p>
         <h2 id="station-eleven" class="hr-icon"><i class="fa-solid fa-tv fa-2xs" style="color:black;" title="tv"></i> Station Eleven</h2>
         <p>
            One of the greatest recent shows, every episode I watched I was in awe of it. This show has what feels like an effortless ability to create moments of joy that gets flipped to fear or heartbreak suddenly. It kept me paying close attention and glued to the screen and that doesn't happen as much as I wished. It's such a thoughtful and hopeful depiction
               of an apocalyptic world that ponders what humanity and society really is all about when it's stripped down to the bare bones after a catastrophe, with one of the groups in the show writing "survival is insufficient" on the side of their car. Station Eleven spans a long timeline and all of the jumping does a fantastic job building these complex and 
               intertwined character journeys within the story and how it connected all of the characters in such a satisfying way.
            </p>
               <ul>Misc notes:
               <li>Think I cried every episode</li>
               <li>Always love seeing Mackenzie Davis! especially her in a role of a prickly and guarded woman</li>
               <li>all of the characters have unique journeys and are multifaceted with flaws and so I don't "dislike" them but rather find them fascinating studies...except for Clark who I have such a distaste for</li>
               <li>Miranda is probably my favorite character and her speech to the pilot was so moving</li>
            </ul>
         <h2 id="20th-century-boys" class="hr-icon"><i class="fa-solid fa-book fa-2xs" style="color:red;" title="book"></i> 20th Century Boys</h2>
         <p>
            I loved this manga, but the problem is that I loved it so much and I wanted to find out the mystery so badly that I read through it very quick and so I don't know if I have anything coherent to say about it. On top of that, I try to keep these mostly spoiler free and it's hard to talk about much of this without spoilers, so just go check it out if my word is 
            enough for you. The story is complex and involves cults and pandemics and governments and spans decades with a large cast of characters, but it also feels so small since almost all of the events can be traced back to their small friend group in elementary school. The story jumps between humanity altering high stakes and to memories of childhood when it felt life every event was high stakes. 
            What happens when the stupid stories you made up with your friends in a secret hideout start actually happening and effecting billions of people? This is a series that can bring those heightened feelings of childhood into adulthood in such an interesting way. I'm not even fond of coming of age stories because I don't really resonate with them, but this was perfectly executed.
            <br>
            <br>
            I am sure there's some criticism about "plot holes" or "deus ex machina" or other things those type of people love to complain about, but my concern is always whether an element serves the story and characters. So I think the ending isn't meant to wrap everything up in some bow and that it should lead to some discovery within the characters and the story succeeds on that merit to me. 
            Did it stumble in parts? Sure, I would agree, but also who cares when it's a damn story and it works for the character arc.
         </p>
         <ul>Misc notes:
            <li>There really isn't a character I don't love that I'm meant to love, but my faves are probably Kanna, Kenji, and Otcho</li>
            <li>This is the 2nd Naoki Urasawa series I've read (the other being Monster years ago) and I am a big fan. His other series will absolutely end up on this list.</li>
         </ul>
         <h2 id="the-lone-gunmen" class="hr-icon"><i class="fa-solid fa-tv fa-2xs" style="color:black;" title="tv"></i> The Lone Gunmen</h2>
         <p>
            I have been obsessed with The X Files for almost 10 years and have somehow never watch The Lone Gunmen spinoff. It hardly gets mentioned within the fandom and I had heard mixed opinions of it from people who had seen it, but once you submit to the wild slapstick fun of the short lived 00s show it is a lot of fun! I love the guys when they do show up 
            in The X Files so I was an easy audience, but I was not digging it for the first couple episodes. It did take them a minute to get a better idea of the right situations to put them in and the tone of the antics for sure, but I think this is a show worth watching for X Files fans (sorry, X-Philes). The Lone Gunmen serves as a historical document as well because only 
            the early 00s could turn the conspiracy peddling distrustful nerds of the 90s into the patriotic "we must save America!" energy they ended up morphed into, and to consider this is pre-9/11!
         </p>
         <ul>Misc Notes:
            <li>Jimmy as the 4th gunman...should be me!</li>
            <li>The weird luck of having a hijacked plane attempt to fly into the World Trade center in March 2001...</li>
            <li>Unsurprisingly, the Chris Carter written one is the worst one</li>
         </ul>
      <h2 id="barry" class="hr-icon"><i class="fa-solid fa-tv fa-2xs" style="color:black;" title="tv"></i> Barry</h2>
         <p>
            I put off watching Barry because I had assumed I wouldn't like it. It's an HBO show and about an anti-hero guy, but after seeing the directing of the traffic jam motorcycle chase in s3 show up on my twitter timeline, I knew that I had to give it a shot. 
            The show is so beautifully crafted and it's such a TV SHOW, I loved watching it.
         <br>
         <br>
         As far as the anti-hero themes go, the show did a great job of underscoring that the actions Barry takes for his hitman job are choices he's making and even if the alternatives are dangerous or difficult, Barry is the one choosing to get get dragged back into 
         the hitman world by choosing the "easier" path. Barry tells himself that he has no choice and that he's only killing bad people, but that's just plainly false and one of the many lies Barry tells himself for justification.
         <br>
         <br>
         Even beyond Barry there were so many deeply complex and interesting characters within the show performed by hugely talented actors and directing choices that felt fresh and brought so much to the show! I don't wanna ramble too much but I think I could say just as 
         much about Gene, the former star who gets relegated to teaching by being such a nightmare on set, or Sally, the self-obsessed actor type who made it out of an abusive marriage only to end up in a relationship with hitman turned actor Barry, or any number of 
         secondary characters. There is such a sharp clarity to the characters in the show that makes it feel so special.
         <br>
         <br>
         </p>
         <ul>Misc notes:
            <li>my one pretty minor critique is that the tone could feel uneven, but dramedy is just tough to nail</li>
            <li>the ending was so SUPERB!!! The story is about Hollywood but those elements can feel more around the fringe than a 
               central element to the story, but the fantastic critique of Hollywood at the tail end of the show was so *chef's kiss*</li>
            <li>I know they exist but I don't understand how Barry justifiers exist lol</li>
         </ul>
      <h2 id="mars" class="hr-icon"><i class="fa-solid fa-book fa-2xs" style="color:red;" title="book"></i> Mars</h2>
      <p>
         I continued my shojo journey with Mars and I really liked this series! It gave me a lot to reflect on about my attitude towards the romance genre. I found myself qualifying my like for this series with "well it's older so it covers social issues in a clunky manner" or 
         "it's not good for me but it's compelling" and while it's true that some attitudes presented were not handled as well as they could've been, this series is a beautifully drawn love story between two teens going through a lot of personal struggles with the support of
            each other. The way Rei and Kira grow together was so heartwarming to see and the ending was lovely and it made me tear up. The setup of "bad boy deliquent" and "quiet shy girl" felt too clique to be tolerated by me, but there is so much more to Kira than just the shy
            girl trope she is to start out the series. Both Rei and Kira grow so much because of each other's support and that gives this series so much more depth than you think it will have.
      </p>
      <ul>Misc notes:
         <li>The art is stunning and the use of night sky backgrounds to show the closeness or separation of Rei and Kira was *chef's kiss*</li>
         <li>My slight warning is that the pattern you read the speech bubbles in will be a learning curve if you come from shonen manga as this manga (and I think shojo in general) have you follow a winding path of the speech bubbles and the panels blend together more</li>
      </ul>
      <h2 id="time-war" class="hr-icon"><i class="fa-solid fa-book fa-2xs" style="color:red;" title="book"></i> This Is How You Lose The Time War</h2>
      <p>
         There is a very simple reason I read this book and it was 98% based on <a href="https://twitter.com/maskofbun/status/1655084850926473216">this tweet</a> by a stranger that promised me that it was short and that I shouldn't look anything else up. Sometimes I'm that simple 
         of an audience. I come to report it is short and that you should just dive into it, I don't even want to elaborate here, even vaguely (but I will). This novella was totally unique in voice and structure as it's written as a series of letters between two characters with one 
         author tackling each character. It was utterly fascinating and I spent a good half of the book comparing it to other series I love to try to make sense of it, but it only led me to making no sense and describing a confusing type of book. Picture me frantically gesturing and 
         saying "it's like The Americans in space" (?) or "it's like a Jon Bois video", like none of that makes sense but it also captures the spirit of the book perfectly to me. It's funny and clever in a way that feels so satisfying and it took me no time to finish it.
      </p>
      <h2 id="weathervanes" class="hr-icon"><i class="fa-solid fa-record-vinyl fa-2xs" style="color:#800080;" title="music"></i> Weathervanes by Jason Isbell and the 400 Unit</h2>
      <p>
      I hadn't made plans to touch on albums on here, mostly because I just listen to albums and vibe with the lyrics and have minimal opinions past that, but I do want to shout out Jason Isbell and the 400 Unit's new album Weathervanes. It's a nice balance of fun songs that let Jason 
      belt the lyrics in a real southern rock kinda sound and some more somber, personal lyrics. A lot of country music is filled with the most boring "small town life" ass lyrics that uncritically and disingenuously paint living in a small town as superior and entirely wholesome and 
      that sounds indistinguishable from every other pop country and just sucks to listen to. Weathervanes, and Jason Isbell's music in general, is much more interested in the complicated history of southern small towns and the dynamics at play. This shines through in songs like "Cast 
      Iron Skillet" and "Strawberry Woman". The more honest look gives these songs more genuine emotion than any generic bro country "Girl Beer Truck" song produced circa 2013. If you've ever been interested in country music, this album would be a great start.
   </p>
      <ul>Misc notes:
      <li>"Save the World", "Cast Iron Skillet", and "When We Were Close" take turns making me cry</li>
      <li>There isn't a song I hate, but a song that doesn't do much for me (ironically) is "This Ain't It"</li>
   </ul>
      <h2 id="the-great" class="hr-icon"><i class="fa-solid fa-tv fa-2xs" style="color:black;" title="tv"></i> The Great</h2>
      <p>
         Season 3 is technically the only season of The Great I watched this year, but it was the final one so I'm including it to give a special shout out to this wild, raunchy show I loved. This season wasn't my favorite, I think it struggled with pacing issues, but it's still a great 
         (heh) season of television. The tagline calls itself "anti-historical" and that's the perfect way to describe what looks like a looks like a period drama from the outside but is a loud satirical comedy about gaining power and trying to keep it in a tulmultuous time to be a royal 
         in Europe. Between the pussy eating and the jokes about pussy eating is a brilliant look at a woman's ideals butting up to the tough truths of Russian society at the time and what democracy even means to people who are used to serfdom. And if this sounds boring and too philosophical,
            I promise there are plenty of jokes to go around and most of them are filthy. I am really gonna miss this show :(
      </p>
      <ul>Misc notes:
      <li>I knew about The Moment in this season going into it, but then it happened and I don't think I ever really recovered</li>
      <li>This is a sneaky good cast, everyone is so funny and talented, I hope they get to work with each other again, especially Elle and Nicholas</li>
      <li>Not season 3, but this has been my favorite Gillian Anderson tv role I've seen of hers since The X Files (The Crown and The Fall you are nothing)</li>
   </ul>
      <h2 id="sharp-objects" class="hr-icon"><i class="fa-solid fa-tv fa-2xs" style="color:black;" title="tv"></i> Sharp Objects</h2> 
      <p>
         2023 is the year I catch up on HBO shows I heard were good but I never got around to checking out, so I watched Sharp Objects. Overall I enjoyed it, but it's a rather bleak portrayal of womanhood/girlhood that I don't personally vibe with. Granted, the grim reality of a woman 
         growing up in a small southern town (Missouri is the south!) where patriarchy reigns is "on the tin" so to speak, so it's certainly not a shortcoming of the show but rather a clash of taste with me as an audience. This blurb about Sharp Objects probably isn't the best place to 
         delve into this, but as someone who grew up as more of a tomboy there's a lot of media about girlhood that feels a bit isolating, so that's kind of where my hangup comes from. But if a mystery thriller about small towns with two dead teens, lots of secrets, and mommy issues is 
         what you love, I definitely recommend Sharp Objects! It has a great grasp of tone and all the characters are just note perfect.
      </p>
      <ul>Misc notes:
      <li>The last scene had my jaw on the FLOOR, fantastic punctuation for the show</li>
      <li>This show is what people mean when they describe something as "lived in", I could just so very clearly picture all these characters having existed in these spaces for decades</li>
   </ul>
      <h2 id="will-they" class="hr-icon"><i class="fa-solid fa-book fa-2xs" style="color:red;" title="book"></i> Will They or Won't They</h2>
      <p>
         Me reading Will They or Won't They is largely because of the heavy parallels with David Duchovny and Gillian Anderson and their time on The X Files, but it also fit into my plan to eplore genres that I don't usually check out with romance. This was a vacation read for me and 
         it was a great book for that; light, fun, and kept me engaged but not engrossed. The characters were interesting and I would consider myself a sucker for characters that stay intertwined and end up coming back changed and better for it. The dialogue was mostly good, but sometimes
            it slipped into sarcastic quips and it made we wonder why this type of dialogue is so commonplace and why it would irritate me, someone who uses sarcasm and jokes pretty frequently. I don't have an answer, it was more of a pondering moment.
      </p>
      <ul>Misc notes:
      <li>Yes, I read books that aren't manga</li>
      <li>I almost left this off the list because I thought I wouldn't have much to say, but I definitely enjoyed it so wanted to give it some love</li>
      <li>I had a lot of fun making connection to David and Gillian that probably weren't there, but Shane getting Lilah a raise does not seem like a David move so I'm actually out on that theory</li>
   </ul>
      <h2 id="pluto" class="hr-icon"><i class="fa-solid fa-book fa-2xs" style="color:red;" title="book"></i> Pluto</h2>
         <p>
            Pluto was recommended by a friend and also is adapted by Naoki Urasawa so I had to check it out. I needed a bit of a breather after some long manga series and this was only 8 volumes. I went into this series truly knowing nothing, I didn't even know it was an adaptation of an Astro Boy story! The forewords and afterwords of the manga volumes stressed that the story could be enjoyed on its own, which I definitely agreed with, but as I got further into the series, I felt like I was missing out not knowing much about Astro Boy. For the story told within Pluto, it was fascinating and heartbreaking with rich characters. I don't typically seek out robot stories, but Pluto opened my eyes to some strengths of the genre and what kind of stories within the genre I would be interested in. The use of robots to offer some commentary on humanity is expected, but the way the humanoid robots seem to sit right outside the bubble of humanity was really fascinating; integral to basic societial function but absolutely stripped of all rights.
            <br>
            <br>
            It's impressive how well Urasawa adapted this story as he had to balance introducing characters with back story outside of this arc and flesh them out enough for an 8 volume run and how he adapted it for the moment it was released in 2004 as the United States waged a fabricated war against Iraq. Seeing a contemporary piece of art to the Iraq War from a non-American viewpoint is something I find great value in. The myth that the Iraq War had great support wasn't even really true in the US, but seeing other nations and people correctly critique the war is important to decontruct that idea. In real life and in Pluto, it's a cynical power play by a minority interest that can only create more hate and destruction in its wake.
         </p>
         <ul>Misc notes:
            <li>There were a couple moments in the last two volumes that really choked me up, it's a great, emotional story</li>
            <li>Like a lot of Urasawa's work, I think it would be even better on a reread. there's just too much going on at once to get everything the first time</li>
            <li>The anime comes out soon! I'm excited!</li>
         </ul>
      <h2 id="enlightened" class="hr-icon"><i class="fa-solid fa-tv fa-2xs" style="color:black;" title="tv"></i> Enlightened</h2>
         <p>
            With so many shows choosing to focus on the awful miserable rich people ruining our lives, Enlightened is a breath of fresh air. It's the most realistic office setting I've seen and it puts into words the misery and malaise that working for a big corporation can feel like, with the powerlessness seeping so deep into your bones that you can't imagine a way out. It does a beautiful job of showing how valuable human connection is to all of us and how it really is the most important thing to survival, whether that survival is making it through your soul sucking office job or dealing with personal issues. It's funny and serious and brings a real hope to a depressing world.
            <br>
            <br>
            I'm one of 100 people that gets nostalgic for the 10s and this show was so delightfully 2010s. At one point Amy wears a VEST, like those had a vice grip on everyone at the time. But it's a beautiful relic that channels the rage and defience of the Occupy Wallstreet movement and it has so much hope that just felt revolutionary for the time certainly, but even today! Amy is a complex person with plenty of faults and mistakes, but even her most misguided of actions are driven by love and kindness that she tries to bring to everyone she meets. It's such a shame it got canceled before its time.
         </p>
         <ul>Misc notes:
            <li>Mike White playing Tyler was just a funny meta joke to me the whole time, but I get it! Follow your dream, Mike</li>
            <li>Why is he writing The White Lotus now, Mike come BACK to shows like this!!!</li>
            <li>I'm not breaking new ground here but...Laura Dern talented</li>
         </ul>
         <h2 id="primo" class="hr-icon"><i class="fa-solid fa-tv fa-2xs" style="color:black;" title="tv"></i> Primo</h2>
            <p>
               Rafa sure has a lot of uncles. It's a shame this show is buried on "FreeVee" whatever the hell that is with an 8 episode season when it deserves to be on a network with a 20 episode run! It's such a fun and silly oddball sitcom with a very tight knit Mexican-American family at the heart of it. The gaggle of uncles have a bit of a seven (or I guess five in this case) dwarves vibe where Rafa's uncles all embody a particular vibe, but are united in their brash stupidity and their deep love for their sister, Drea. It's a quick watch and a blast, I definitely recommend it!
               <br>
               <br>
               The biggest complaints I have for this show are most likely out of their control. First of all, 8 episodes is too short for a show that is bringing the fun energy of a network drama. Some arcs felt slightly rushed because they had a story to tell and a set number of episodes, but they still worked out to me. My bigger complaint, which could be a network or producer note, is that there is not enough SPANGLISH in this SHOW!!! There's one scene with Spanish in it and that just does not track at all for a Mexican family in Texas. Not everyone learns Spanish for sure, but none of the uncles or anyone else says anything in Spanish and it just took me out of the show a lot. TV isn't a new medium, I think you can trust that your audience is smart enough to read subtitles occasionally.
            </p>
            <ul>Misc Notes:
               <li>high school romance plots do nothing for me but happy for Rafa and Mya</li>
               <li>LOVE the uncle hive</li>
            </ul>
</div>