---
const { title } = Astro.props;
import '@fontsource/fira-mono/400.css';
import '@fontsource/fira-mono/500.css';
import '@fontsource/fira-mono/700.css';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/favicon.ico"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
    <slot name="body"/>
</html>
<style>
	body {
		font-family: 'Fira Mono', monospace;
	}
</style>